<h1>New book</h1>
  <%= form_with model: @book do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :body %>
    <%= f.submit'Create Book' %>
  <% end %>

  <% @books.each do |book| %>
    <div>
      <%= image_tag book.get_image %>
      <%= book.title %>
      <%= book.body %>
      <%= book.user.name %>
    </div>
  <% end %>