<h1>Books detail</h1>
<%= image_tag @book.get_image %>
<%= @book.title %>
<%= @book.body %>
<%= link_to @book.user.name, user_path(@book.user.id) %>

<% if @book.user == current_user %>
  <%= link_to "edit", edit_book_path(@book) %>
  <%= link_to "destroy", book_path(@book), method: :delete %>
<% end %>
